body {
    background-color: #ffffff;
    color: #444;
}
a {
    color: rgb(236, 236, 236);
    text-decoration: none;
}

.busy{
    animation-name: jumpy;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.busy:nth-child(2) {
    animation-delay: 0.2ms;
}

.busy:nth-child(3) {
    animation-delay: 0.4ms;
}

@keyframes jumpy {
    0%{
        transform: translateX(-10px);
    }
    50%{
        transform: translateX(10px);
    }
    100%{
        transform: translateX(-10px);
    }
}

canvas {
    position: fixed;
    height: 100%;
}

.modal {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1rem;
    max-width: 90%;
    max-height: 90%;
    border-radius: 0.5rem;
    overflow-y: auto;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

#status {
    height: min-content;
    background: none;
}

#info {
    max-height: 100vh;
    position: fixed;
    z-index: 1;
    background: #f0f0f0a9;
}
table, th, td {
    empty-cells: hide;
}
td {
    font-size: x-large;
    color: white;
}
th, td {
    text-align: center;
    border-collapse: collapse;
    border: 2px solid rgb(46, 46, 46);
    background: #edeeeed6;
}
th {
    background: #a8a8a8d6;
    padding: 15px;
}
input[type=number] {
    width: 2em;
}
.control_button {
    border: 1px solid black;
    border-radius: 20%;
    margin: 2% 2% 2% 2%;
    cursor: pointer;
    display: inline-block;
}